.chat-home 
  .chat-home-chat-main-top
    .chat-home-chat-main-top__left
      %h.chat-home-chat-main-top__left__title
        タイトル
      %ul.chat-home-chat-main-top__left__member
        member:
        %li.chat-home-chat-main-top__left__member__name
          ゆきりん
    .chat-home-chat-main-top_right
      Edit 
  .chat-home-chat-main
    .chat-home-chat-main__message
      .chat-home-chat-main__message__title
        %p.chat-home-chat-main__message__title__name
          ゆきりん
        %p.chat-home-chat-main__message__title__day
          2019/12/16(Mon) 14:09:17
      %p.chat-home-chat-main__message__text
        aaaa

  .chat-home-chat-bottom
    .chat-home-chat-bottom__box
      .chat-home-chat-bottom__box__class
      %input{type:"text",placeholder:"type a messages", class: "chat-home-chat-bottom__box__class__text"}
        .chat-home-chat-bottom__box__class__image
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class:"file"}
      %input{type: "submit",name: "commit",value: "Send",class: "chat-home-chat-bottom__box__class__button"}
      