.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__namebar
        ゆきりん
      %ul.side-header__box__icon
        %li
          = link_to '#' do
            = icon('fa', 'edit',class: 'icon1')
          = link_to '#' do
            = icon('fa', 'cog',class: 'icon2')

  .group
    .group-groups
      %p.group-groups__name
        ゆきりん
      %p.group-groups__message
        まだメッセージがありません

